<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit your post!!</h1>
    <p>id: <%=post.id%>
    </p>
    <p>userName: <%=post.userName%>
    </p>
    <form action="/posts/:id/edit" method="patch">

        <textarea rows="10" cols="30" name="content" placeholder="content"><%=post.content%></textarea><br>
        <button>Submit Post</button>
    </form>
</body>

</html>