<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/chats" method="post">
        <input type="text" placeholder="who are you?" name="from">
        <br><br>
        <input type="text" name="to" placeholder="recived by">
        <br><br>
        <textarea name="msg"></textarea>
        <br><br>
        <button>submit</button>
    </form>
</body>

</html>